- if @restaurant.errors.any?
  %h2 We have some errors here!
  %ul
    - @restaurant.errors.full_messages.each do |msg|
      %li= msg

= simple_form_for [:admin, @restaurant] do |f|
  .form-group
    = f.input :name, input_html: {class: "form-control"}
    = f.input :tel, input_html: {class: "form-control"}
    = f.input :address, input_html: {class: "form-control"}
    = f.input :opening_hours, input_html: {class: "form-control"}
    = f.input :description, input_html: {class: "form-control"}
    = f.input :image, type: :file
    = image_tag @restaurant.image, width: '300px' if @restaurant.image?
  = f.submit class: "btn btn-primary"

%hr/
=link_to("Home", admin_restaurants_path)
