- if @restaurant.errors.any?
  %h2 We have some errors here!
  %ul
    - @restaurnat.errors.full_messages.each do |msg|
      %li= msg

%h1 新增餐廳

= form_for [:admin, @restaurant] do |f|
  = f.label :name, "Name"
  = f.text_field :name

  = f.label :tel, "Tel"
  = f.text_field :tel

  = f.label :address, "Address"
  = f.text_field :address

  = f.label :opening_hours, "Opening Hours"
  = f.text_field :opening_hours

  = f.label :description, "Description"
  = f.text_area :description

  = f.submit
