!!!
%html
%head
  %title RestaurantForum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body

%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to("餐廳評論網", root_path, class: "navbar-brand")

    .collapse.navbar-collapse{id: "bs-example-navbar-collapse-1"}
      %ul.pull-right.text-right.nav.navbar-nav
        - if current_user
          %li
            %p.navbar-text Hi, #{current_user.email}
          - if current_user.admin?
            %li= link_to("Admin後台", admin_restaurants_path)
          %li= link_to("Profile", user_path(current_user))
          %li= link_to("登出", destroy_user_session_path, method: :delete)
          %li= link_to("修改密碼", edit_user_registration_path)
        - else
          %li= link_to("註冊", new_user_registration_path)
          %li= link_to("登入", new_user_session_path)

- if flash[:notice]
  .container
    .row
      .alert.alert-success.alert-dismissable{:role => "alert"}
        %button.close{:type => "button", "data-dismiss" => "alert", "aria-lable" => "Close"}
          %span{"aria-hidden" => "true"} x
        = notice
- if flash[:alert]
  .containert
    .row
      .alert.alert-danger.alert-dismissable{:role => "alert"}
        %button.close{:type => "button", "data-dismiss" => "alert", "aria-lable" => "Close"}
          %span{"aria-hidden" => "true"} x
        = alert

= yield
